<div class="container-fluid top-row">
  <div class="row">
    <div class="col-sm-3">
      <sdinavbar></sdinavbar>
    </div>
    <div class="col-sm-4 text-center text-transform">
      <h1 class="page-title">Scaffolding</h1>
    </div>
    <div class="low-padding-top">
      <logout-button></logout-button>
    </div>

  </div>
</div>

<br><br><br><br><br><br><br>

<div class="container-fluid" style="color: white;">
  <div class="row">
    <div class="col-sm-6 form-box">
      <h1>Add a new module</h1>

      <form [formGroup]="addScaffoldingModuleForm" (ngSubmit)="addModule()">
        <div class="form-group">
          <label for="module-code">Module Code (ID):</label>
          <input formControlName="moduleID" type="text" class="form-control" name="module-code" required />
          <label for="module-name">Module Name:</label>
          <input formControlName="moduleName" type="text" class="form-control" name="module-name" required/>
          <label for="class-size">Class Size:</label>
          <input formControlName="classSize" type="number" class="form-control" name="class-size" required/>
          <label for="phase">Phase:</label>
          <select formControlName="phase" class="form-control" name="phase" required>
                <option *ngFor="let phase of phases | async" [value]="phase.$key">{{phase.phaseName}}</option>
          </select>
        </div>
        <button class="btn btn-block" type="submit">Add Module</button>
      </form>

    </div>
    <div class="col-sm-6 form-box">
      <h1>Add a new ProblemSheet</h1>

      <form [formGroup]="addScaffoldingProblemSheetForm" (ngSubmit)="addProblemSheet()">
        <div class="form-group">
          <div class="col-sm-4">
            <label for="problem-sheet-ID">Problem Sheet (ID):</label>
            <input formControlName="problemSheetID" type="number" class="form-control" name="problem-sheet-ID" required />
          </div>
          <div class="col-sm-4">
            <label for="problem-sheet-title">Problem Sheet Title:</label>
            <input formControlName="problemSheetTitle" type="text" class="form-control" name="problem-sheet-title" required/>
          </div>
          <div class="col-sm-4">
            <label for="moduleID">ModuleID:</label>
            <select formControlName="moduleID" class="form-control" name="moduleID" required>
                <option *ngFor="let module of modules | async" [value]="module.$key">{{module.$key}}</option>
          </select>
          </div>
          <div class="col-sm-4">
            <label for="release-date">Release Date:</label>
            <input formControlName="releaseDate" type="date" class="form-control" name="release-date" required/>
            <label for="deadline-date">Deadline:</label>
            <input formControlName="deadline" type="date" class="form-control" name="deadline-date" required/>
          </div>
          <div class="col-sm-8">

            <br><br>
            <button class="btn btn-block" type="submit">Add Problem Sheet</button>
          </div>
        </div>

      </form>

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6 form-box">
      <h1>Add a new problem:</h1>

      <form [formGroup]="addScaffoldingProblemForm" (ngSubmit)="addProblem()">
        <div class="form-group">
          <div class="col-sm-4">
            <label for="problem-ID">Problem (ID):</label>
            <input formControlName="problemID" type="number" class="form-control" name="problem-ID" required />
          </div>
          <div class="col-sm-4">
            <label for="problem-sheet-ID">ProblemSheetID:</label>
            <select formControlName="problemSheetID" class="form-control" name="problem-sheet-ID" required>
                <option *ngFor="let problemSheet of problemSheets | async" 
                [value]="problemSheet.$key">{{problemSheet.$key}}. {{problemSheet.problemSheetTitle}}</option>
          </select>
          </div>
        </div>
        <div class="col-sm-4">
          <label for="problem-title">Problem Title:</label>
          <input formControlName="problemTitle" type="text" class="form-control" name="problem-title" required/>
        </div>
        <div class="col-sm-8">

          <br><br>
          <button class="btn btn-block" type="submit">Add Problem</button>
        </div>

      </form>
    </div>


    <div class="col-sm-6 form-box">
      <h1>Enroll a student in a module:</h1>
      <form [formGroup]="addScaffoldingStudentModuleForm" (ngSubmit)="addStudentModule()">
        <div class="form-group">
          <div class="col-sm-4">
            <label for="student-ID">StudentID:</label>
            <select formControlName="studentID" class="form-control" name="student-ID" required>
                <option *ngFor="let student of students | async" 
                [value]="student.$key">{{student.$key}}. {{student.firstName}} {{student.lastName}}</option>
          </select>
          </div>
          <div class="col-sm-4">
            <label for="moduleID">ModuleID:</label>
            <select formControlName="moduleID" class="form-control" name="moduleID" required>
                <option *ngFor="let module of modules | async" [value]="module.$key">{{module.$key}}</option>
          </select>
          </div>
          <div class="col-sm-4">
            <br>
            <button class="btn btn-block" type="submit">Enroll</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 form-box">
      <h1>Add an attempt:</h1>


      <form [formGroup]="addScaffoldingAttemptForm" (ngSubmit)="addAttempt()">
        <div class="form-group">

          <div class="col-sm-4">
            <label for="problem-ID">ProblemID:</label>
            <select formControlName="problemID" class="form-control" name="problem-ID" required>
                <option *ngFor="let problem of problems | async" 
                [value]="problem.$key">{{problem.$key}}. {{problem.problemTitle}}</option>
          </select>
            <label for="student-ID">StudentID:</label>
            <select formControlName="studentID" class="form-control" name="student-ID" required>
                <option *ngFor="let student of students | async" 
                [value]="student.$key">{{student.$key}}. {{student.firstName}} {{student.lastName}}</option>
          </select>
          </div>
          <div class="col-sm-4">
            <label for="compile-status">Compile Status:</label>
            <select formControlName="compile" class="form-control" name="compile-status" required>
                <option value="Y">Yes</option>
                 <option value="N">No</option>
          </select>
            <label for="output-status">Compile Status:</label>
            <select formControlName="output" class="form-control" name="output-status" required>
                <option value="Correct">Correct</option>
                <option value="Wrong">Wrong</option>
          </select>
          </div>

          <div class="col-sm-4">
            <label for="attempt-date">Attempt Date:</label>
            <input formControlName="date" type="date" class="form-control" name="attempt-date" required/>
            <br>
            <button class="btn btn-block" type="submit">Add Attempt</button>
          </div>

        </div>
      </form>
    </div>

    <div class="col-sm-3 ">


      <button class="button btn-block" id="export-btn" (click)="exportJSONTree()">Export Firebase Tree</button>

    </div>
    <div class="col-sm-3">
      <a [href]="this.sharePointLink" target="_blank"><button class="button btn-block" id="share-point-btn">
        <span class="glyphicon glyphicon-cloud"></span> SDI VisualTools SharePoint</button></a>
    </div>
  </div>
</div>