.form-box{
    border: 1px solid white;
    border-radius: 10px;
    font-family:'Inconsolata', monospace;
    padding: 15px;

}

.btn{
    background-color: #F65B61;
}

#share-point-btn{
    background-color: #96FAF1;
    color: black;
}

#export-btn{
    background-color: #F65B61;
    
}

#powerbi-excel-button:hover,
#powerbi-dashboard-button:hover,
#export-btn:hover,
#share-point-btn:hover{
     color: white;
    background: #0e83cd;
}

.form-control.ng-touched.ng-invalid{
    border: 2px solid #F65B61;
}

#powerbi-dashboard-button{
    background: #F6E35C;
    color: black;
}


#powerbi-excel-button{
background-color: #2DD276;
}
