<br>

<div class="container-fluid">

   <div class="col-lg-6 col-lg-offset-3">
     <div class='pyramid'>
    <div class="zone" (click)='goToInnovation()'>Innovation</div>
    <div class="zone" (click)='goToDiscovery()'>Discovery</div>
    <div class="zone" (click)='goToScaffolding()'>Scaffolding</div>
  </div>
  </div>
 
</div>



<svg width="0" height="0">
  <defs>
    <clipPath id="part1" clipPathUnits="objectBoundingBox">
      <polygon points="0.5 0, 1 1, 0 1" />
    </clipPath>
    <clipPath id="part2" clipPathUnits="objectBoundingBox">
      <polygon points="0.25 0,0.75 0, 1 1, 0 1" />
    </clipPath>
    <clipPath id="part3" clipPathUnits="objectBoundingBox">
      <polygon points="0.165 0,0.83 0, 1 1, 0 1" />
    </clipPath>
  </defs>
</svg>

