.button-menu{
    padding-bottom: 50px;
    padding-top: 120px;
    
}




/* clearfix */
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
/*BUTTON REFERENCES:
    - https://bootsnipp.com/snippets/Oeo2N  

   */

.button {
    border: none;
     font-family: 'Inconsolata', monospace;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 50px;
    display: inline-block;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    border: 1px solid white;
    color: white;
    
}

#powerbi-app-button{
    background: #FFDA11;
    color: black;
}


.button:hover,
.button:active,
#powerbi-app-button:hover {
    color: white;
    background: #0e83cd;
    
}

.button a{
    color: white;
}


h2, h3{
    color:white;
}

