<div class="scaffolding-background container-fluid">

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <sdinavbar></sdinavbar>
        </div>

        <div class="col-sm-9 top-bar">
            <div class="btn-toolbar-vertical" role="toolbar">
                <button class="btn btn-default" (click)="togglePhase(0)">General Overview</button>
                <button class="btn btn-default" (click)="togglePhase(1)">1. Procedural Programming</button>
                <button class="btn btn-default" (click)="togglePhase(2)">2. Scripting</button>
                <button class="btn btn-default" (click)="togglePhase(3)">3. Functional Programming</button>
                <button class="btn btn-default" (click)="togglePhase(4)">4. Object-Oriented Programming</button>
                <button class="btn btn-default" (click)="togglePhase(5)">SEAT Historical Data</button>
            </div>

        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <div [ngSwitch]="phaseNumber" class="col-md-9">
                <iframe *ngSwitch="0" width="1000" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiMGQyMGMxYWUtMTllZS00YTIyLWJkZmUtYjlhMjk3Y2JhYzA5IiwidCI6IjFmYWY4OGZlLWE5OTgtNGM1Yi05M2M5LTIxMGExMWQ5YTVjMiIsImMiOjh9&pageName=ReportSection0"
                    frameborder="0" allowFullScreen="true"></iframe>
                <iframe *ngSwitchCase="1" width="1000" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiYzU3MmMxM2MtODMzZC00MmQ3LTkyODUtZTI3NWI4NDFlODBkIiwidCI6IjFmYWY4OGZlLWE5OTgtNGM1Yi05M2M5LTIxMGExMWQ5YTVjMiIsImMiOjh9&pageName=ReportSection0"
                    frameborder="0" allowFullScreen="true"></iframe>
                <iframe *ngSwitchCase="2" width="1000" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiODA5YjBhMWUtNDI0ZS00MThiLWExZjUtMjYwY2E3NzEyNTliIiwidCI6IjFmYWY4OGZlLWE5OTgtNGM1Yi05M2M5LTIxMGExMWQ5YTVjMiIsImMiOjh9&pageName=ReportSection0"
                    frameborder="0" allowFullScreen="true"></iframe>
                <iframe *ngSwitchCase="3" width="1000" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiZWMxOTc2OGItMWM4Ny00YWE0LWI0NDItZjI3MzRiOGFkYTkxIiwidCI6IjFmYWY4OGZlLWE5OTgtNGM1Yi05M2M5LTIxMGExMWQ5YTVjMiIsImMiOjh9&pageName=ReportSection0"
                    frameborder="0" allowFullScreen="true"></iframe>
                <iframe *ngSwitchCase="4" width="1000" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiMzE3ZTk5NDktZTQ2ZS00YWEyLTlmZmQtY2QzMzFiY2YzM2EzIiwidCI6IjFmYWY4OGZlLWE5OTgtNGM1Yi05M2M5LTIxMGExMWQ5YTVjMiIsImMiOjh9&pageName=ReportSection0"
                    frameborder="0" allowFullScreen="true"></iframe>
                <iframe *ngSwitchDefault width="1000" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiMGQyMGMxYWUtMTllZS00YTIyLWJkZmUtYjlhMjk3Y2JhYzA5IiwidCI6IjFmYWY4OGZlLWE5OTgtNGM1Yi05M2M5LTIxMGExMWQ5YTVjMiIsImMiOjh9&pageName=ReportSection5" 
                frameborder="0" allowFullScreen="true"></iframe>
                <!-- <iframe *ngSwitchDefault width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiMGQyMGMxYWUtMTllZS00YTIyLWJkZmUtYjlhMjk3Y2JhYzA5IiwidCI6IjFmYWY4OGZlLWE5OTgtNGM1Yi05M2M5LTIxMGExMWQ5YTVjMiIsImMiOjh9&pageName=ReportSection0"
                    frameborder="0" allowFullScreen="true"></iframe> -->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="col-sm-12 text-center">
        <p>See Full Dashboard:<a href="https://app.powerbi.com/groups/me/dashboards/0dc26118-a66b-4a8e-9926-c237d2668fa9" target="_blank">SEAT Dashboard</a></p>
    </div>
</div>


</div>