<!-- <div class="jumbotron login-jumbotron"> -->
<div class="container-fluid full-width">
  <div class="row" style="background-color: #F58F1D">
    <div class="col-sm-4 pull-left">
      <img src="../../assets/UCL_Logo_Orange.jpg">
    </div>

    <div class="col-sm-offset-4 col-sm-4">
      <h1 style="color:white;">SDI VisualTools</h1>
    </div>
  </div>

</div>


<div class="container login-box">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 ">
      <header class="welcome-back">
        <div>
          <h3><span>Welcome</span> Back!</h3>
        </div>
      </header>

      <br>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input formControlName="email" type="text" class="form-control" placeholder="example@ucl.ac.uk" name="email" />
        </div>
        <div class="form-group">
          <!-- <label for="passwordFld">Password:</label> -->
          <input formControlName="password" placeholder="Password" type="password" class="form-control" name="passwordFld" />
        </div>


  
          <button class="btn btn-block login-btn" type="submit">Log In</button>
          <!--The button below should be separated into a modal and ask the user for the email  -->
          
         
      </form>

      <footer>
       <div class="row" style="padding-top: 30px;">
         <div class="text-center">
            <button class="btn btn-link text-center" (click)="resetPassword()">Forgot your Password?</button>
          </div>
          <br>
            <div class="col-sm-8">
              <p>Don't have an account?</p>
            </div>
            <div class="col-sm-4 pull-right">
              <button class="btn btn-block sign-up-btn" (click)="goToSignUp()">Sign up</button>
            </div>
          </div>
        </footer>
      

    </div>
  </div>
</div>
