<!-- <div class="jumbotron login-jumbotron"> -->
<div class="container-fluid full-width">
  <div class="row" style="background-color: #F58F1D">
    <div class="col-sm-4 pull-left">
      <img src="../../assets/UCL_Logo_Orange.jpg">
    </div>

    <div class="col-sm-offset-4 col-sm-4">
      <h1 style="color:white;">SDI VisualTools</h1>
    </div>


  </div>
</div>


<div class="container login-box">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 ">
      <header class="welcome-back">
        <div>
          <h3><span>Welcome</span> Back!</h3>
        </div>
      </header>

      <br>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input formControlName="email" type="text" class="form-control" placeholder="example@ucl.ac.uk" name="email" />
        </div>
        <div class="form-group">
          <!-- <label for="passwordFld">Password:</label> -->
          <input formControlName="password" placeholder="Password" type="password" class="form-control" name="passwordFld" />
        </div>


        <footer>
          <button class="btn btn-block login-btn" type="submit">Log In</button>
          <!--The button below should be separated into a modal and ask the user for the email  -->
          <br>
          <div class="row" style="padding-top: 30px;">
            <div class="col-sm-8">
              <p>Don't have an account? </p>
            </div>
            <div class="col-sm-4 pull-right">
              <button class="btn btn-block sign-up-btn">Sign up</button>
            </div>
          </div>
        </footer>
      </form>
      <div class="text-center">
            <button class="btn btn-link text-center" (click)="resetPassword()">Forgot your Password?</button>
          </div>

    </div>
  </div>
</div>
    <br>

    <!-- SIGN-UP FORM -->
    <div class="container-fluid signup-box">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 ">

          <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <div class="form-group">
              <label for="email">Email:<span style="color: red;"> *</span></label>
              <input formControlName="email" type="text" class="form-control" name="email" required/>
            </div>
            <div class="form-group">
              <label for="firstNameFld">First Name</label>
              <input formControlName="firstName" type="firstName" class="form-control" name="firstNameFld"  />
            </div>
            <div class="form-group">
              <label for="lastNameFld">Last Name</label>
              <input formControlName="lastName" type="lastName" class="form-control" name="lastNameFld" />
            </div>
            <div class="form-group">
              <label for="passwordFld">Password:<span style="color: red;"> *</span></label>
              <input formControlName="password" type="password" class="form-control" name="passwordFld" required />
            </div>
            <div class="form-group">
              <label for="repeatPasswordFld">Repeat Password:<span style="color: red;"> *</span></label>
              <input formControlName="repeatPassword" type="password" class="form-control" name="repeatPasswordFld" required />
            </div>


            <button class="btn btn-default" type="submit">Sign up</button>
          </form>
        </div>
      </div>
    </div>

 