/* .login-jumbotron {

    
    background: url("../../assets/lego-builing-blocks.jpg") no-repeat center;
    background-size: cover;
    color: #eeeaec;
    height: 300px;
    text-shadow: 1px 1px 1px #000000;

} */

.login-box{
    border: 2px solid white;
    border-radius: 8px;
    padding: 5px;
    color: black;
    background-color: white;
}


.signup-box{
    border: 2px solid white;
    border-radius: 8px;
    padding: 5px;
    color: white;
}

.welcome-back{
    border: 2px solid greenyellow;
    border-radius: 8px;
}

.get-started{
    border: 2px solid white;
    background: transparent;
    color: yellow;
    font-weight: bold;

}

.get-started:hover{
    border: 2px solid white;
    background: gold;
}
