<div class="container-fluid">
  <div class="row" style="background-color: #F69C21">
    <div class="col-sm-4 pull-left">
      <img src="../../assets/UCL_Logo_Orange.jpg">
    </div>

    <div class="col-sm-offset-2 col-sm-4">
      <h1 class="page-title">SDI VisualTools</h1>
    </div>
    <div class="col-sm-1 pull-right padding-top">
      <div class="navigation">
        <br>
        <a class="login-button" routerLink='/welcome-page'>
                <span class="glyphicon glyphicon-log-in"></span>
                <div class="login">LOG IN</div>
         </a>
      </div>

    </div>
  </div>
</div>

<!-- SIGN-UP FORM -->
<div class="container-fluid " style="padding-top: 20px;">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 signup-box">

      <header class="sign-up-header text-center">
        <div>
          <h3><span>Create</span> a new <span>account</span></h3>
        </div>
      </header>

      <br>

      <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <div class="form-group">
          <label for="email">Email:<span style="color: red;"> *</span></label>
          <input formControlName="email" type="text" class="form-control" name="email" required/>
        </div>
        <div class="form-group">
          <label for="firstNameFld">First Name</label>
          <input formControlName="firstName" type="firstName" class="form-control" name="firstNameFld" />
        </div>
        <div class="form-group">
          <label for="lastNameFld">Last Name</label>
          <input formControlName="lastName" type="lastName" class="form-control" name="lastNameFld" />
        </div>
        <div class="form-group">
          <label for="passwordFld">Password:<span style="color: red;"> *</span></label>
          <input formControlName="password" type="password" class="form-control" name="passwordFld" required />
        </div>
        <div class="form-group">
          <label for="repeatPasswordFld">Repeat Password:<span style="color: red;"> *</span></label>
          <input formControlName="repeatPassword" type="password" class="form-control" name="repeatPasswordFld" required />
        </div>

        <br>
        <button class="btn btn-block sign-up-btn" type="submit">Sign up</button>
      </form>
    </div>
  </div>
</div>