
 $text-font : "Inconsolata", monospace;
 
.card {
    
        .custom-btn {
            background-color: #ffdd00;
            color: black;          
        }
        .card-header {
            background-color: #a8c3e6;
    
            h2 {
                text-transform: uppercase;
                font-family: $text-font;
                font-weight: bold;
                color:white;
            }
    
            span {
                color: #ffdd00;
                
            }
        }
        
    }
    