<app-header [title]="pageTitle"></app-header>

<br>
<br>

<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-sm-3 text">
            <h2>Select a StudentID and view their innovations:</h2>
            <button class="btn btn-info btn-block" (click)="syncInnovationData()">
                <span class="fa fa-refresh"></span> Sync Data</button>
        </div>

        <div class="col-sm-9 text-center">
            <div class="row">

                <!--DEPRECATED IMPLEMENTATION FOR HTTP SERVICES  -->
                <!-- <div class="col-sm-1" *ngFor="let user of innoflowUsers">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <button (click)="getInnovations(user.id, user.username)" class="btn btn-default">{{user.id}}</button>
                        </li>
                    </ul>
                </div> -->

                <div class="col-sm-1 mb-2" *ngFor="let user of innoflowUsers$ | async">
                    <button (click)="getInnovations(user)" class="btn btn-info btn-block">
                        {{user.userID}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid pt-2">
    <div class="row">
        <div class="col-12 text-center">
            <h2 *ngIf="selectedUser" class="text"> UserID: {{selectedUser.id}} : Username: {{selectedUser.username}}
            </h2>
            <ul class="list-group">
                <li *ngFor="let innovation of innovations$ | async" class="list-group-item">
                    <h4>Innovation - {{innovation.created | date}}</h4>
                    <app-innovation-markdown [innovationCode]="innovation.code"></app-innovation-markdown>
                </li>
            </ul>
        </div>
    </div>
</div>