<h2>Add a new link:</h2>
<form [formGroup]="addLinkForm" (ngSubmit)="addNewLink()">
  <div class="form-group">
    <input formControlName="title" type="text" class="form-control" placeholder="Title" required/>
    <input formControlName="link" type="text" class="form-control" placeholder="Link" required/>

    <label for="category">Link category:</label>
    <select formControlName="category" class="form-control" id="category" placeholder="category">
      <option *ngFor="let category of discoveryLinkCategories | async" [value]="category.linkCategory">{{category | json}}</option>
    </select>
  </div>
  <button class="btn btn-block btn-success" type="submit">Add Link</button>
</form>