<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <sdinavbar></sdinavbar>
        </div>
        

        <!-- <div class="col-sm-6">
            <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiZTY0MjE4YWUtNTdjOC00ODdiLWIwYTAtNGVjM2U0N2Y3MGZiIiwidCI6IjFmYWY4OGZlLWE5OTgtNGM1Yi05M2M5LTIxMGExMWQ5YTVjMiIsImMiOjh9"
                frameborder="0" allowFullScreen="true"></iframe>
        </div> -->

      <div class="col-sm-3">
            <h2>Add a new link:</h2>
            <form [formGroup]="addLinkForm" (ngSubmit)="addNewLink()">
                <div class="form-group">
                <input formControlName="title" type="text" class="form-control" placeholder="Title" required/>
                <input formControlName="link" type="text" class="form-control" placeholder="Link" required/>
              
                <label for="category">Link category:</label>
                <select formControlName="category" class="form-control" id="category">
                    <option *ngFor="let category of discoveryLinkCategories | async" [value]="category.$value">{{category.$value}}</option>
                </select>
                </div>
                <button class="btn btn-block btn-success" type="submit">Add Link</button>
            </form>
            
        </div>


        <div class="col-sm-4">
            <h2>Useful Discovery Links:</h2>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let link of discoveryLinks | async">
                    <div>
                       <a target="_blank" href='{{link.link}}'> {{link.title}} - {{link.link}}</a>
                       <button class="btn-sm btn-danger pull-right" (click)="removeLink(link)">
                           <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </li>
            </ul>
       
</div>

