<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul id="hexGrid">
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" routerLink='/scaffolding'>
               <img src="./././assets/screw.jpg" alt="" />
              <h1>Scaffolding</h1>
              <p>Visualise how well a class has grasped the basic concepts.</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" routerLink='/discovery'>
              <img src="./././assets/laptop-discovery.jpg" alt="" />
              <h1>Discovery</h1>
              <p>Non-linear problem based learning with exploration to solve requirements.</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" routerLink='/innovation'>
              <img src="./././assets/light-bulb-innovation.jpg" alt="" />
              <h1>Innovation</h1>
              <p>Optimal solutions identified from Scaffolding and Discovery.</p>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>