<!--CONTAINER FOR TOP NAVBAR MENU  -->

<app-header [title]="pageTitle"></app-header>



<!--CONTAINER FOR DISCOVERY DATA  -->

<div class="container-fluid link-container">
    <div class="row">


        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <app-link-form></app-link-form>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-sm-12">
                    <h2>Useful Discovery Links:</h2>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let link of discoveryLinks | async">
                            <div>
                                <a target="_blank" href='{{link.link}}'> {{link.title}} - {{link.link}}</a>
                                <button class="btn-sm btn-danger pull-right" (click)="removeLink(link)">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-sm-8">
            <h2>Sample Discovery Report</h2>
            <iframe class="report-frame" width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiZTY0MjE4YWUtNTdjOC00ODdiLWIwYTAtNGVjM2U0N2Y3MGZiIiwidCI6IjFmYWY4OGZlLWE5OTgtNGM1Yi05M2M5LTIxMGExMWQ5YTVjMiIsImMiOjh9"
                frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>