<app-header [title]="pageTitle"></app-header>

<br>

<section class="pt-5">
    <!--HONEY COMB MENU  -->
    <div class="container-fluid pt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-5">
                <app-hexagon-menu></app-hexagon-menu>
            </div>
        </div>
    </div>
</section>


<br>


<!--ABOUT AREA BELOW  -->
<section>
    <div class='container-fluid'>
        <div class="row">
            <div class="col-12 col-sm-12 text-center">
                <h1 class="text-white">What is the SDI Methodology?</h1>

                <blockquote class="blockquote">
                    <p class="text-white">
                        The Scaffolding-Discovery-Innovation Methodology is a constructionist learning theory with the aim of raising an inventive
                        trait in computer science.
                        <p>
                            <footer class="blockquote-footer text-white">
                                <cite title="Source Title">Scaffolding, Discovery and Gamechanging, a strategic approach to Problem Based Learning with
                                    Constructionism in Computer Science (Mohamedally, D. 2012)</cite>
                            </footer>
                </blockquote>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 ">
                <app-scroll-icon></app-scroll-icon>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 cards mt-5">
                <app-home-cards></app-home-cards>
            </div>
        </div>
    </div>
</section>