
/*LOGIN CSS References:
 - https://codepen.io/iamnbutler/pen/clrDk  */




header {
    height: 45px;
    line-height: 45px;
    border-bottom: solid 2px #ffdd00;
    padding: 0 30px;

    color: white;
   
}


header.welcome-back{
    text-transform: uppercase;
}


h3 span {
    color: #ffdd00;
}

.login-box{
    padding:90px;
    border: 1px solid white;
    background:url('../../../assets/space-telescope.jpg') no-repeat;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
    border-radius: 2px;
    color: white;
    background-color: black;
   
}


.login-btn{
    background-color: #ffdd00;
    color: black;
}

.sign-up-btn{
    background-color: #ffdd00;
    border-radius: 3px;
    color: black;
  
}



