
/*LOGIN CSS References:
 - https://codepen.io/iamnbutler/pen/clrDk - Accessed July 2017
 - https://codepen.io/boltaway/pen/afpow - Accessed July 2017
 - https://www.freshdesignweb.com/css-login-form-templates/ - Accessed July 2017*/




header {
    height: 45px;
    line-height: 45px;
    border-bottom: solid 2px #ffdd00;
    padding: 0 30px;

    color: white;
   
}

mat-toolbar {
    background-color: #F69C21;
   
    
    .welcome-title {

        display: flex;
        flex-direction: row;
        align-content: flex-end;

        h1 {
            font-size: 3.5rem;
            color: white;
            font-family: 'Inconsolata', monospace;
            font-weight: bold;
        }
      
    }

    img {
        max-width:100%;
        max-height: 100%;

    }
}

/* cover */
#cover{
    background: #222 url('../../../assets/space-telescope.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    //use flexbox to center
    display: flex;
    align-items: center;

    #cover-caption{
        width: 100%;
    }

    h3 {
        text-transform: uppercase;
        
        span {
            color: #ffdd00;
            
        }
    }
}


.login-box{
    padding:90px;
    border: 1px solid white;
    background:url('../../../assets/space-telescope.jpg') no-repeat;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
    border-radius: 2px;
    color: white;
    background-color: black;
   
}


.login-btn{
    background-color: #ffdd00;
    color: black;
}

.sign-up-btn{
    background-color: #ffdd00;
    border-radius: 3px;
    color: black;
  
}



