<div class="container-fluid text">
  <div class="row">
    <div class="col-12 col-sm-3">
      <h3>Add Excel Data</h3>
    </div>
    <br>
    <div class="col-12 col-sm-3">
      <input type="file" (change)="onFileChanged($event)" multiple="false" />
    </div>
    <div class="col-12 col-sm-2">
      <button class="btn btn-block" (click)="uploadExcelData()">Upload Data</button>
    </div>
  </div>
  <div class="row" *ngIf="excelData != null">
    <br>
    <div class="col-12 col-sm-4 offset-sm-4 text-center">
      <table class="table table-inverse ">
        <tr *ngFor="let row of excelData">
          <td *ngFor="let val of row">{{val}} </td>
        </tr>
      </table>
    </div>
  </div>
</div>