
.sign-up-btn{
    background-color: #ffdd00;
    border-radius: 3px;
    color: black;
  
}

header {
    height: 45px;
    line-height: 45px;
    border-bottom: solid 2px #ffdd00;
    padding: 0 30px;
    color: white;
   
}

header.sign-up-header{
    text-transform: uppercase;
}

h3 span {
    color: #ffdd00;
}
  
.signup-box{
    padding:100px;
    border: 1px solid #161616;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
    border-radius: 2px;
    color: white;
    background-color: black;
    
}

.glyphicon-log-in{
    font-size: 30px;
    color: white;
}

/*  LOGOUT BUTTON */
.navigation {
  width: 100%;
}

.login {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
	position: relative;
  right: -18px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}

.login-button {
    text-decoration: none;
  padding: 12px;
  margin: 15px;
  color:white;
  width: 25px;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}



a:hover .login{
  opacity: .9;
}