/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* Add some padding to the body*/
/* body {
    padding: 20px;
    background: url("assets/screw.jpg") no-repeat center;
    background-size: cover;
}
 */
