/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Oswald:400);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

/*REFERENCES: 

 - https://www.dtelepathy.com/blog/inspiration/30-bold-and-clean-web-designs-for-inspiration
 - https://designschool.canva.com/blog/website-color-schemes/
 */

//GLOBAL VARIABLES

html,
body {
  height: 100%;
}

body {
  background-color: #191818;
}

.padding-top {
  padding-top: 50px;
}

.low-padding-top {
  padding-top: 20px;
}

.report-frame {
  width: 100%;
}

.text-transform {
  text-transform: uppercase;
}

.text-formatted {
  color: white;
  text-transform: lowercase;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}

/*BUTTON REFERENCES:
    - https://bootsnipp.com/snippets/Oeo2N  
    - http://callmenick.com/post/stylish-css-buttons

   */

.button {
  border: none;
  font-family: "Inconsolata", monospace;
  cursor: pointer;
  padding: 20px 30px;
  display: inline-block;
  margin: 5px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  border: 1px solid white;
  color: white;
  letter-spacing: 1px;
}

.button:active,
.button:hover {
  color: white;
  background: #0e83cd;
}
