/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Add some padding to the body*/
/* body {
    padding: 20px;
    background: url("assets/screw.jpg") no-repeat center;
    background-size: cover;
}
 */

body{
    background-color: #191818;
}

.top-row{
    background-color: #F65B61;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.page-title{
    font-size:45pt;
    color: white;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

.padding-top{
    padding-top:50px;
}

.report-frame{
    width: 100%;
}

.text-transform{
    text-transform: uppercase;
}

