<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul id="hexGrid">
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
               <img src="../../assets/screw.jpg" alt="" />
              <h1>Scaffolding</h1>
              <p>See how well a class has grasped the basic concepts.</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="../../assets/screw.jpg" alt="" />
              <h1>Scaffolding</h1>
              <p>See how well a class has grasped the basic concepts.</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="../../assets/screw.jpg" alt="" />
              <h1>Scaffolding</h1>
              <p>See how well a class has grasped the basic concepts.</p>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>