    <div class="container-fluid" >
        <div class="row" >
            <div class="col-sm-4 pull-left">
                <h1 id="home-title">SDI VisualTools</h1>
            </div>
            <div class="col-sm-1 pull-right padding-top">
                <div class="navigation">
                    <a class="logout-button" routerLink='/welcome-page'>
                <span class="glyphicon glyphicon-log-out"></span>
                <div class="logout">LOGOUT</div>
   
                </a>
                </div>

            </div>
        </div>

    </div>
    <br>

    <div class='container-fluid padding-top'>
        <div class="row">
            <div class="col-sm-12 text-center animated bounceInDown">
                <!-- <pyramid-navbar></pyramid-navbar> -->
                <hexagon-menu ></hexagon-menu>
            </div>
        </div>

    </div>
    <br>

    <div class='container-fluid'>
        <div class="row">
            <div class="col-sm-12 text-center">
            <h1 id="about-title">What is the SDI Methodology?</h1> 
                <h3 id="about-info">3 Phases</h3>
                       
            </div>
        </div>

        <div class="row">


            <div class="col-sm-12 pull-left">
                <div class="value-props">
                    <div class="prop">
                        <span class="glyphicon glyphicon-road"></span>
                        <h2>Scaffolding</h2>
                        <p>Scaffolding explores new methods of teaching the basic principles of programming. This phase focuses
                            on linear problem solving and is supported by programming lab assignments (PLAs) during term
                            time. Scaffolding data can be revealing of how well a student is grasping the taught concepts
                            and to help teachers assess areas that require improvement.
                        </p>
                    </div>
                </div>



                <div class="value-props">
                    <div class="prop">
                        <span class="glyphicon glyphicon-globe"></span>
                        <h2>Discovery</h2>

                        <p>Discovery involves open or guided, non-linear problem-based learning with exploration to solve requirements.
                            Discovery is encouraged with project work that forces students to independently research and
                            consider alternatives to develop and evaluate their solutions. This is an iterative design approach
                            based on prior experiences.
                        </p>

                    </div>
                </div>




                <div class="value-props">
                    <div class="prop">
                        <span class="glyphicon glyphicon-flash"></span>
                        <h2>Innovation</h2>
                        <p>Innovation builds upon the two previous phases. This phase pushes students to identify optimal solutions 
                            based on the knowledge gathered through scaffolding and discovery. Innovation is encouraged by giving 
                            students a larger problem which enables them to develop something innovative and exciting. 
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>

    
    <div class='container-fluid about-area'>
        <div class="row">
            <div class="col-sm-12 text-center">
            <h1 id="about-title">The underlying theory</h1>                        
            </div>
        </div>

        <div class="row">


            <div class="col-sm-12 pull-left">
                <div class="value-props">
                    <div class="prop">
                        <span class="glyphicon glyphicon-book"></span>
                        <h2>Constructionism</h2>
                        <p>SDI is based on constructionism, a learning theory which stems from constructivist principles
                    in psychology. Constructivist theories hold a view of learning as reconstruction process based on the
                    idea that learners construct mental models in other to reason about their world. Constructionist 
                    learning is a student-centred, iterative approach that promotes discovery learning so that students 
                    are encouraged to use information known a priori as an instrument to acquire more knowledge and to
                     build increasingly complex levels of understanding. This is alternatively known as apprenticeship 
                     learning i.e. learn by doing and based on the principle that “the way teachers teach should be adapted 
                     to how the students learn”.
                        </p>
                    </div>
                </div>

            </div>


        </div>
    </div>


