<div class="home-background container-fluid">


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 pull-left">
                <h1>SDI Visualizations</h1>
            </div>
        </div>  
    </div>

    <div class='container-fluid'>
        <div class="row">
            <div class="col-sm-12 text-center">
                <!-- <pyramid-navbar></pyramid-navbar> -->
                <hexagon-menu></hexagon-menu>
            </div>
        </div>

    </div>
    <br>

    <div class='container-fluid'>
        <div class="row">
           
            <h1>About:</h1>
             <div class="col-sm-12 pull-left">
            <div class="value-props">
                <div class="prop">
                   <span class="glyphicon glyphicon-road"></span>
                    <h2>Scaffolding</h2>
                    <p>Scaffolding explores new methods of teaching the basic principles of programming. This phase focuses
                        on linear problem solving and is supported by programming lab assignments (PLAs) during term time.
                        Scaffolding data can be revealing of how well a student is grasping the taught concepts and to help
                        teachers assess areas that require improvement.
                    </p>
                </div>
            </div>
            

              
            <div class="value-props">
                <div class="prop">
                   <span class="glyphicon glyphicon-globe"></span>
                    <h2>Discovery</h2>
                    <p>Scaffolding explores new methods of teaching the basic principles of programming. This phase focuses
                        on linear problem solving and is supported by programming lab assignments (PLAs) during term time.
                        Scaffolding data can be revealing of how well a student is grasping the taught concepts and to help
                        teachers assess areas that require improvement.
                    </p>
                </div>
            </div>
            

              
            <div class="value-props">
                <div class="prop">
                   <span class="glyphicon glyphicon-flash"></span>
                    <h2>Innovation</h2>
                    <p>Scaffolding explores new methods of teaching the basic principles of programming. This phase focuses
                        on linear problem solving and is supported by programming lab assignments (PLAs) during term time.
                        Scaffolding data can be revealing of how well a student is grasping the taught concepts and to help
                        teachers assess areas that require improvement.
                    </p>
                </div>
            </div>
            </div>

        </div>
    </div>

</div>