<div id="wrapper" [ngClass]="{ 'toggled': isOpen }">
  <!-- Sidebar -->
  <nav class="navbar fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="sidebar-sdi">SDI Components:</li>
      <li routerLinkActive="active current">
        <a routerLink="/home">Home</a>
      </li>
      <li routerLinkActive="active current">
        <a routerLink="/scaffolding">Scaffolding</a>
      </li>
      <li routerLinkActive="active current">
        <a routerLink="/discovery">Discovery</a>
      </li>
      <li routerLinkActive="active current">
        <a routerLink="/innovation">Innovation</a>
      </li>
      <!-- <li routerLinkActive="active current"><a routerLink='/welcome-page'>Sign Out</a></li> -->
    </ul>
  </nav>

  <!-- /#sidebar-wrapper -->

  <button type="button" class="btn btn-outilne-secondary" (click)='activateMenu()'>
    <span *ngIf="!isOpen" class="fa fa-bars fa-lg"></span>
    <span *ngIf="isOpen" class="fa fa-times fa-lg"></span>
  </button>

</div>
<!-- /#wrapper  -->