/*REFERENCES: 
- https://bootsnipp.com/snippets/featured/fancy-sidebar-navigation - Accessed July 2017
*/

body {
  position: relative;
  overflow-x: hidden;
}

/*SDI NAVBAR WRAPPER*/
#wrapper.toggled {
  padding-left: 220px;
  #sidebar-wrapper {
    width: 220px;
  }
}
#wrapper {
  padding-left: 0;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  #sidebar-wrapper {
    position: absolute;
    z-index: 2000;
    //change width of navbar
    // left: 244px;
    /* Change height of the navbar */
    height: 16rem;
    margin-left: -249px;
    width: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: black;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;

  .nav-title {
    padding-left: 20px;
    font-size: 31px;
    line-height: 1.25em;
    color: white;
  }

  li {
    .active {
      &:nth-child(2) {
        background-color: #38d299;
      }
      &:nth-child(3) {
        background-color: #79aefe;
      }
      &:nth-child(4) {
        background-color: #279636;
      }
      &:nth-child(5) {
        background-color: #279636;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 3px;
      background-color: #f69c21;
      -webkit-transition: width 0.2s ease-in;
      -moz-transition: width 0.2s ease-in;
      -ms-transition: width 0.2s ease-in;
      transition: width 0.2s ease-in;
    }
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    font-size: 16pt;
    font-family: "Inconsolata", monospace;
    text-transform: uppercase;

    &:nth-child(2)::before {
      background-color: #38d299;
    }
    &:nth-child(3)::before {
      background-color: #79aefe;
    }
    &:nth-child(4)::before {
      background-color: #279636;
    }
    &:nth-child(5)::before {
      background-color: #279636;
    }

    &:hover {
      &::before {
        width: 100%;
        -webkit-transition: width 0.2s ease-in;
        -moz-transition: width 0.2s ease-in;
        -ms-transition: width 0.2s ease-in;
        transition: width 0.2s ease-in;
      }
    }
    a {
      display: block;
      color: #ddd;
      text-decoration: none;
      padding: 10px 15px 10px 30px;
    }
  }
}

/* MENU BUTTON STYLING AND ANIMATION */

.btn {
  background: #f69c21;
  .fa {
    color: white;
    font-size: 3em;
  }
}
