/*REFERENCES: 
- https://bootsnipp.com/snippets/featured/fancy-sidebar-navigation - Accessed July 2017
*/

// body {
//   position: relative;
//   overflow-x: hidden;
// }

/*SDI NAVBAR WRAPPER*/

#wrapper {
  padding-left: 0;
  padding-bottom: 100px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &.toggled {
    padding-left: 12em;
  }

  #sidebar-wrapper {
    z-index: 1;
    left: 230px;
    width: 0;
    /* Change height of the navbar */
    height: 17rem;
    overflow: hidden;
    margin-left: -260px;
    overflow-y: auto;
    overflow-x: hidden;
    background: black;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 13em;
}

/*NAVIGATION BAR STYLES */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
  font-size: 16pt;
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
}

.sidebar-nav li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #f69c21;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}
.sidebar-nav li:first-child a {
  color: #fff;
  /* background-color: #1a1a1a; */
}
.sidebar-nav li:nth-child(2):before {
  background-color: #38d299;
}
.sidebar-nav li:nth-child(3):before {
  background-color: #79aefe;
}

.sidebar-nav li:nth-child(4):before {
  background-color: #314190;
}

.sidebar-nav li:nth-child(5):before {
  background-color: #279636;
}
.sidebar-nav li:nth-child(6):before {
  background-color: #7d5d81;
}

/*NOTE how a transition for the width is done" */
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.sidebar-nav > .sidebar-sdi {
  padding-left: 20px;
  font-size: 30px;
  line-height: 44px;
  color: white;
}

/* MENU BUTTON STYLING AND ANIMATION */

.btn {
  background: #f69c21;
  .fa {
    color: white;
    font-size: 3em;
  }
}
