<div class="container-fluid text">
  <form [formGroup]="addModuleForm" (ngSubmit)="addModule()">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-4">
          <label for="module-code">Module Code (ID):</label>
          <input formControlName="moduleID" type="text" class="form-control" name="module-code" required />
          <div class="alert alert-danger" *ngIf=" addModuleForm.controls['moduleID'].touched &&
           !addModuleForm.controls['moduleID'].valid ">ModuleID is required.
          </div>

          <label for="module-name">Module Name:</label>
          <input formControlName="moduleName" type="text" class="form-control" name="module-name" required/>
          <div class="alert alert-danger" *ngIf="addModuleForm.controls['moduleName'].touched && 
          !addModuleForm.controls['moduleName'].valid">
            Module Name is required.
          </div>
        </div>

        <div class="col-sm-8">
          <div class="col-sm-6">
            <label for="class-size">Class Size:</label>
            <input formControlName="classSize" type="number" class="form-control" name="class-size" required/>
            <div class="alert alert-danger" *ngIf="addModuleForm.controls['classSize'].touched && 
          !addModuleForm.controls['classSize'].valid">
              Class Size is required.
            </div>
          </div>
          <div class="col-sm-6">
            <label for="phase">Phase:</label>
            <select formControlName="phase" class="form-control" name="phase" required>
              <option *ngFor="let phase of phases$ | async " [value]="phase.phaseName">{{phase.phaseName}}</option>
            </select>
            <div class="alert alert-danger" *ngIf="addModuleForm.controls['phase'].touched && 
               !addModuleForm.controls['phase'].valid ">
              Phase is required.
            </div>
          </div>

          <div class="col-sm-12">
            <br>
            <button class="btn btn-block" type="submit">Add Module</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>